body{
  background-color:lightblue;
  
}
main{
  text-align:center;
  
}
main img{
  border-radius:50%
}
nav{
  font-size:23px;
  
}
nav a{
  border:dotted black;
    border-radius:20px;
  margin:5px;
  padding:5px;
  text-decoration:none;
  color:black;
    background-color:darkgray;
}
main div{
  padding:5px;
  margin:5px;
  font-size:25px;
}
main p {
  font-size:25px;
}
footer{
  background-color:black;
  margin:15px;
  padding;15px;
}
